INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
aux-dist/
configure
m4/
config.log
config.status
inc/Makefile
libtool
**/Makefile.in
**/Makefile
**/.dirstamp
**/.deps/
**/.libs/
*.la
*.lo
*.o
.cproject
.project
.settings/
tests/bin/
tests/reports/
docs/
Doxyfile
